/*赤色　#D1322A*/
/*紺色　#A001B66*/
/*慶應紺色 #001E62*/
/*interviewのとこの白色　EFF1F5*/
/*日本語のfont-family: sans-serif;*/

* {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック体", YuGothic;
}


#first-view {
    width: 100%;
    position: relative;
    /*    background: blue;*/
}

#first-view ul {
    width: 55%;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    right: 0;
    /*    background: blue;*/

}

nav li {
    float: left;
    margin-right: 50px;
    margin-top: 30px;
    list-style-type: none;

}


nav a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

nav a:hover {
    border-bottom: solid 2px #ffffff;
}


.nav-register-button {
    font-size: 16px;
    color: #001E62;
    display: block;
    width: 163px;
    background: white;
    line-height: 40px;
    text-align: center;
    margin-top: -10px;
    text-shadow: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.nav-register-button:hover {
    border-bottom: none;
    color: white;
    background: #001E62;
    transition: 0.8s;
}

.rightimg-slider {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -30%;
    /*    left: 450px;*/
}


.rightimg-slider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



.leftimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

}

.pc_leftimg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
    /*    position: relative;*/
}

.sp_leftimg {
    display: none;
}

.keio-title {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 52px;
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .8);
    /*    text-shadow: */
}

.keio-title span {
    color: #D1322A;
}



/*ここからfirst-viewのレスポンシブ*/
@media screen and (max-width:480px) {
    nav {
        display: none;
    }

    .pc_leftimg {
        display: none;
    }

    .sp_leftimg {
        display: block;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 3;
    }


    .keio-title {
        top: 100px;
        left: 20px;
        font-size: 26px;
        width: 90%;
    }

    .rightimg-slider {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

}








/*ここからaboutus-section*/

#aboutus-section {
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
    position: relative;
    /*    background: pink;*/
    text-shadow: 0 5px 5px rgba(0, 0, 0, .5);

}

.enjin-image {
    width: 35%;
    height: 82vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 80px;
}

.hug-image {
    width: 35%;
    height: 82vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: 80px;
}


.aboutus-box {
    width: 35%;
    height: 90vh;
    background: #001B66;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    /*    margin-bottom: 255px;*/
}


.aboutus-title h2 {
    color: #D1322A;
    font-size: 25px;
}

.aboutus-title p {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.aboutus-notalone {
    width: 380px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 30px;
}

.aboutus-notalone h3 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: left;
    line-height: 70px;
    letter-spacing: 3px;
}

.aboutus-notalone span {
    color: #D1322A;
    font-size: 70px;
}

.aboutus-text {
    margin-top: 45px;
    width: 380px;
    overflow: hidden;
    color: white;
    font-size: 17px;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    font-family: sans-serif;
}

.katsudou-button {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    border: solid #ffffff;
    display: block;
    margin: 0 auto;
    width: 41%;
    margin-top: 10px;
    padding: 10px;
    z-index: 3;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

.katsudou-button:hover {
    background: lightblue;
}


.about-class h5 {
    font-size: 200px;
    color: #001E62;
    opacity: 0.6;
    line-height: 170px;
    margin-top: -30px;
    text-shadow: none;
}


/*
.fadein{
    width: 80%;
    height: 200px;
    background: red;
    text-align: center;
    margin-left: -900px;
}
*/




/*aboutus-sectionのレスポンシブ*/
@media screen and (max-width:480px) {

    .enjin-image {
        width: 28%;
        height: 450px;
        margin-top: 60px;
    }

    .hug-image {
        width: 30%;
        height: 450px;
        margin-top: 60px;

        right: -60px;

    }

    .aboutus-box {
        width: 72%;
        height: 540px;
        padding-top: 25px;


    }

    .aboutus-notalone {
        width: 84%;
        margin-top: 20px;
        padding-left: 10%;

    }

    .aboutus-notalone h3 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 2px;

    }

    .aboutus-notalone span {
        font-size: 45px
    }

    .aboutus-text {
        font-size: 14px;
        width: 84%;
        line-height: 22px;
        margin-top: 25px;
    }

    .katsudou-button {
        width: 170px;
        font-size: 18px;
        padding: 8px;
        margin-top: 25px;
    }

    .katsudou-button:active {
        background: lightblue;
    }

    .about-class h5 {
        font-size: 70px;
        line-height: 100px;

    }






}


/*ここからinterview-section*/

#interview-section {
    width: 100%;
    overflow: hidden;
    /*    background: pink;*/
    margin-top: 130px;
}

.interview-container {
    width: 93%;
    background: #EFF1F5;
    height: 700px;
    z-index: 0;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

.interview-title {
    float: right;
    padding-top: 32px;
    padding-right: 72px;
}

.interview-title h2 {
    color: #D1322A;
    font-size: 80px;
}

.interview-title p {
    color: #001E62;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -20px;
    padding-left: 3px;
}


.interview-dotbox {
    width: 89%;
    height: 54%;
    background-image: url(../image/dot-background-11.jpg);
    position: absolute;
    top: 250px;
    left: 0:
}

.interview-dotbox img {
    width: 28%;
    padding: 0 1.3%;
    margin-top: -6.5%;
    z-index: 2;
    transition-duration: 0.3s;
}

.interview-dotbox img:hover {
    transform: scale(1.1, 1.1);

}

.yuna {
    margin-left: 4%;
}

.interview-class h5 {
    font-size: 190px;
    color: #001E62;
    opacity: 0.6;
    line-height: 170px;
    margin-top: -28px;
    margin-left: 400px;
    /*    position: absolute;*/
    position: relative;
    z-index: -2;

}



/*interview-sectionのレスポンシブ　モーダル以外*/
@media screen and (max-width:480px) {

    #interview-section {
        margin-top: 70px;
    }

    .interview-container {
        width: 96%;
        height: 370px;
    }

    .interview-title {
        float: right;
        padding-top: 20px;
        padding-right: 20px;
    }

    .interview-title h2 {
        font-size: 38px;
    }

    .interview-title p {
        font-size: 12px;
        margin-top: -17px;
        padding-left: 0px;
    }

    .interview-dotbox {
        width: 94%;
        top: 110px;

    }

    .interview-dotbox img {
        margin-top: 0;
    }

    .interview-class h5 {

        font-size: 70px;
        line-height: 100px;
        margin-top: -20px;
        margin-left: 60px;
    }



}



/*モーダル*/

/*
body.fixed {
	position: fixed;
	left: 0;
}
*/

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_bluebox {
    background: #fff;
    background-image: url(../image/modal-back-20.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 50%;
    /*    padding: 40px;*/
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75vh;

}

.modal-interview-title {
    /*    background: green;*/
    width: 30%;
    float: left;
    margin-top: 1%;
    margin-left: 1.5%;
}

.modal-interview-title h2 {
    color: #D1322A;
    font-size: 40px;
    line-height: 38px;
}


.modal-interview-title p {
    color: white;
    font-family: sans-serif;

}

.modal_whitebox {
    width: 84%;
    height: 76%;
    background: #EFF1F5;
    margin: 0 auto;
    margin-top: 7%;

}

.modal_whitebox img {
    width: 34%;
    margin-left: 4%;
    margin-top: 1%;
}


.modal_flexbox {
    width: 90%;
    padding-top: 4%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.modal_textbox {
    width: 55%;
    overflow: hidden;
    padding-top: 80px;
}

.modal_textbox h3 {
    color: #001E62;
    font-size: 30px;
}

.modal_textbox h3 span {
    font-size: 18px;
}

.modal_textbox p {
    color: #001E62;
    margin-top: 3%;
}

.js-modal-close img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}


/*interview-section　モーダルのレスポンシブ*/
@media screen and (max-width:480px) {

    .modal_whitebox img {
        width: 60%;
        margin-left: 4%;
        margin-top: 0;
    }

    .modal_whitebox {
        width: 84%;
        height: 82%;
        margin-top: 18%;
    }

    .modal_bluebox {
        width: 88%;
        height: 600px;
        background-image: url(../image/sp_bluebox.png);
    }

    .modal_flexbox {
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }

    .modal-interview-title {
        margin-top: 2%;
        margin-left: 2.5%;
    }

    .modal-interview-title h2 {
        font-size: 20px;
        line-height: 24px;
    }


    .modal-interview-title p {
        font-size: 12px;

    }

    .modal_textbox {
        width: 88%;
        padding-top: 20px;
    }

    .modal_textbox h3 {
        font-size: 23px;
    }

    .modal_textbox h3 span {
        font-size: 12px
    }

    .modal_textbox p {
        font-size: 13px
    }

    .js-modal-close img {
        width: 30px;
        height: 30px;
        top: 2%;
        right: 1.1%;

    }







}





/*ここからfreshmen-section*/

#freshmen-section {
    width: 100%;
    overflow: hidden;
    margin-top: 130px;
    position: relative;
    /*    padding-bottom: 300px;*/
    z-index: -1;

}

.freshmen-container {
    width: 80%;
    height: 730px;
    background-image: url("../image/forfreshmen.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

.freshmen-title {
    padding-top: 32px;
    padding-left: 72px;

}


.freshmen-title h2 {
    color: #D1322A;
    font-size: 80px;
}

.freshmen-title p {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -20px;
    padding-left: 5px;
}

.freshmen-text {
    color: white;
    width: 68.5%;
    height: 55%;
    margin-left: 72px;
    margin-top: 100px;
    font-family: sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .5);

}

.freshmen-text h3 {
    font-size: 40px;
}

.freshmen-text p {
    font-size: 20px;
    padding-top: 13px;
}

.freshmen-text h4 {
    padding-top: 66px;
    font-size: 60px;
    line-height: 100px;

}

.freshmen-text h4 span {
    font-size: 35px;
}

.pc_register-button {
    color: #001E62;
    text-decoration: none;
    font-size: 27px;
    display: inline-block;
    /*    width: 340px;*/
    width: 22%;
    line-height: 75px;
    background: white;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top: 568px;
    right: 5%;

}

.sp_register-button {
    display: none;
}

.pc_register-button:hover {
    background: lightblue;
}

.welcome-box {
    font-family: sans-serif;
    width: 35%;
    height: 32%;
    background: #EFF1F5;
    position: absolute;
    bottom: 50px;
    left: 7%;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);

}

.welcome-box h2 {
    color: #D1322A;
    font-size: 30px;
}

.welcome-box p {
    color: #001E62;
    padding-top: 38px;
    font-size: 18px;
}

.welcome-text {
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
}

.freshmen-class h5 {
    font-size: 170px;
    color: #001E62;
    opacity: 0.6;
    line-height: 170px;
    position: relative;

}


/*freshmen-sectionのレスポンシブ*/

@media screen and (max-width:480px) {

    #freshmen-section {
        margin-top: 70px;
    }


    .freshmen-container {
        width: 94%;
        height: 475px;
    }

    .freshmen-title {
        padding-top: 20px;
        padding-left: 20px;

    }


    .freshmen-title h2 {
        font-size: 38px;
        line-height: 50px;
    }

    .freshmen-title p {
        font-size: 12px;
        margin-top: -8px;
        padding-left: 4px;
    }

    .freshmen-text {
        width: 94%;
        margin-left: 20px;
        margin-top: 24px;

    }

    .freshmen-text h3 {
        font-size: 23px;
    }

    .freshmen-text p {
        font-size: 16px;
        padding-top: 14px;
    }

    .freshmen-text h4 {
        padding-top: 30px;
        font-size: 32px;
        line-height: 40px;
    }

    .freshmen-text h4 span {
        font-size: 15px;
    }

    .pc_register-button {
        display: none;
    }

    /*    ここ動かない　sp_register-button*/

    .sp_register-button {
        display: block;
        color: #001E62;
        text-decoration: none;
        font-size: 18px;
        width: 57%;
        line-height: 45px;
        background: white;
        text-align: center;
        font-family: sans-serif;
        margin-left: 20px;
        margin-top: 26px;
    }

    .sp_register-button:active {
        background: pink;

    }

    .welcome-box {
        width: 86%;
        height: 25%;
        left: 4%;
        bottom: 16%;
    }

    .welcome-text {
        width: 86%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .welcome-box h2 {
        color: #D1322A;
        font-size: 22px;

    }

    .welcome-box p {

        padding-top: 11px;
        font-size: 13px;
    }

    .freshmen-class h5 {
        display: inline-block;
        font-size: 70px;
        line-height: 75px;
        margin-top: -20px;
        padding-top: 170px;
        margin-left: 60px;
    }

}


/*ここからcontact-section*/

#contact-section {
    width: 100%;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
    margin-top: 273px;

}

.contact_big_flexbox {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.sp_contact_small_flexbox {
    display: none;
}

.contact-line {
    width: 50%;
    height: 400px;
    background: #001E62;
}

.contact-link a {
    display: block;
    width: 100%;
    line-height: 65px;
    border: medium solid #ffffff;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;

    margin-top: 60px;

}

.contact-instagram {
    width: 50%;
    height: 400px;
    background: red;
    background-image: url(../image/insta-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-instagram a {
    margin-top: 36px;
}

#contact-section a:hover {
    background: lightblue;
}



.contact-textbox {
    width: 62%;
    margin: 0 auto;
    margin-top: 75px;
}


.contact-textbox h3 {
    font-size: 23px;
}

.contact-textbox p {
    font-size: 17px;
    margin-top: 27px;
}





/*contact-sectionのレスポンシブ*/

@media screen and (max-width:480px) {

    #contact-section {
        margin-top: 100px;
    }

    .contact_big_flexbox {
        flex-wrap: wrap;

    }

    
    .contact-line {
        width: 100%;
        height: 150px;
    }

    .contact-instagram {
        width: 100%;
        height: 150px;
    }

    .contact-textbox {
        display: none;
    }

    .sp_contact_small_flexbox {
        display: block;
        width: 88%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sp_contact_textbox {
        width: 60%;
        margin-top: 25px;
    }

    .sp_contact_link {
        width: 30%;        
    }
    
/*    インスタのボタンだけずれるから*/
    .sp_line_link{
        margin-top: -20px;
    }

    .sp_contact_link a {
        line-height: 30px;
        font-size: 12px;
    }

    .sp_contact_textbox h3 {
        font-size: 13px;
    }

    .sp_contact_textbox p {
        font-size: 11px;
        margin-top: 7px;
    }







}



footer p {
    font-size: 17px;
    color: #001E62;
    text-align: center;


}
