/*赤色　#D1322A*/
/*紺色　#A001B66*/
/*interviewのとこの白色　EFF1F5*/

*{
    margin: 0;
    padding: 0;
    font-family: "游ゴシック体", YuGothic;
}

#first-view{
    width: 100%;
    position: relative;
    
}

.main-right{
    width:100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
/*    position: relative;*/
}

.titlebox{
    position: absolute;
    top:80px;
    left: 85px;
    font-size: 52px;
    color: white;
/*    text-shadow: */
}

.titlebox span{
    color: #D1322A;
}

/*仮。ここ本当はスライドショーにする*/
.main-left{
/*    width: 50%;*/
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    right: -170px;
  
}

/*ここからsection1*/

#section1{
    width:100%;
    overflow: hidden;
    margin-top: -5px;
    position: relative;
    z-index: -2;
    background: pink;
}

.enjin-image {
    width:490px;
    height: 675px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    margin-top: 80px;
}

.hug-image{
    width:490px;
    height: 675px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
    margin-top: 80px;
    
    
}


.aboutus{
    width: 485px;
    height: 765px;
    background: #001B66;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
    z-index: 2;
    margin-bottom: 255px;
}


.aboutus-title h2{
    color: #D1322A;
    font-size: 25px;  
}

.aboutus-title p{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.notalone{
/*    background: green;*/
    width: 380px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 30px;
}

.notalone h3{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: left;
    line-height: 70px;
    letter-spacing: 3px;
}

.notalone span{
    color: #D1322A;
    font-size: 70px;
}

.aboutus-text{
    margin-top: 60px;
    width:380px;
    overflow: hidden;
/*    background: lightblue;*/
    color: white;
    font-size:17px;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    font-family: sans-serif;
}

.katsudou{
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    border: solid #ffffff;
    display: block;
    margin: 0 auto;
    width:200px;
    margin-top: 30px;
    padding: 10px;     
}

.katsudou:hover{
    background: lightblue;
}

#section2{
    width: 100%;
    overflow: hidden;    
}

.interview{
    width: 93%;
    background: #EFF1F5;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.dot-back{
    width: 85%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index:-2;
    margin-top: 230px;
    padding -bottom: 300px;
}

.profile{
    width: 295px;
    background: red;
    position: relative;
    margin-bottom: 300px;
    z-index: 4;
}